.pic{
     display: block;
      height: auto;
      width: 400px;
      text-align: center;
}

body{
  background-color: grey;
  font-family: sans-serif;
  color: black;
}

a:visited {
    color: black;
}
a:link {
    color: black;
}
